html {
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  text-align: center;
}

h1 {
  font-size: 1.8rem;
  color: white;
  text-shadow: 1px 1px 24px #815201;
}

p {
  font-size: 1.4rem;
  color: #FEFCFB;
}

label {
  font-size: 1.2rem;
  color: #FEFCFB;
}

.topnav {
  overflow: hidden;
  background-color: #1f1f1f;
}

body {
  margin: 0;
  background-color: #2a2a2a;
}

.content {
  padding: 5%;
}

.card-grid {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card-debug {
  background-color: rgb(80, 80, 80);
  box-shadow: 1px 1px 12px 1px rgb(30, 0, 99);
  opacity: 0.5;
}

.card {
  background-color: rgb(80, 80, 80);
  box-shadow: 1px 1px 12px 1px rgb(30, 0, 99);
}

.card-title {
  font-size: 1.6rem;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 1px 1px 24px #3c0075;
}

button {
  border: none;
  color: #FEFCFB;
  padding: 15px;
  text-align: center;
  font-size: 16px;
  width: 80px;
  border-radius: 4px;
  transition-duration: 0.4s;
}

.button-on {
  background-color: #034078;
}

.button-on:hover {
  background-color: #9411b1;
}

.button-off {
  background-color: #858585;
}

.button-off:hover {
  background-color: #252524;
}

input[type=submit] {
  border: none;
  color: #FEFCFB;
  background-color: #034078;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100px;
  margin-right: 10px;
  border-radius: 4px;
  transition-duration: 0.4s;
  }

input[type=submit]:hover {
  background-color: #1282A2;
}

input[type=text], input[type=number], select {
  width: 50%;
  padding: 12px 20px;
  margin: 18px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}